<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850644993025-eftfgt33e74m1u747p7oq3alh0hrvub3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850644993025-eftfgt33e74m1u747p7oq3alh0hrvub3</string>
	<key>API_KEY</key>
	<string>AIzaSyCTnZFqzPq-QBaTEhQLzPSFDLNymaZj8fA</string>
	<key>GCM_SENDER_ID</key>
	<string>850644993025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soyeon.ThunderRing</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-e627d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-e627d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850644993025:ios:d148ebdcbfcf9e05b5ec00</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-e627d-default-rtdb.firebaseio.com</string>
</dict>
</plist>